
$t-info-bacground-image: url('./../assets/t-info-bacground-image.png');
$default-color-with-black-background: #c8c8c8;
$brand-color: #00c8ff;
body {
  margin: 0;
  padding: 0;
  background: $t-info-bacground-image no-repeat;
  background-size: 100%;
}

.danger {
    color: #ff0000 !important;
}

.brand-color {
  color: #00c8ff;
}

.info-input {
    border-radius: 10px;
    font-size: 13px;
    border: 1px solid #e4e2e2;
}

.info-select {
    border-radius: 10px;
    font-size: 11px;
    padding: 6px;
    border: 1px solid #e4e2e2;
    width: 130px;
}

.outline-none {
    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.info-button-color {
    border-right: 10px;
    background: $brand-color;
    &:hover {
        background: #04a4d0;
    }
    &:focus, &:active {
        background: #0087ad;
    }
}

.info-button-dark-color {
    border-right: 10px;
    background: #282828;
}

#body {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    height: 40px;
    background: black;
    color: $default-color-with-black-background;
    .header-menu {
        line-height: 40px;
        span {
            a {
               color: $default-color-with-black-background;
                &:hover {
                    text-decoration: none;
                }
            }
            font-size: 10px;
            text-transform: uppercase;
            padding-left: 23px;
            &:hover { 
                transition: all 0.3s;
                color: white;
            }
        }   
    }
    .header-admin-stuff {
        #dropdown-language {
            margin: 0 !important;
            .dropdown-toggle {
                font-size: 11px;
                padding: 12px 10px;
                background: transparent;
                color: $default-color-with-black-background;
                border: none;
                &:focus {
                  box-shadow: none;
                }
                &:hover {
                    transition: all 0.3s;
                    color: white;
                }
            }
            .dropdown-menu {
                min-width: auto !important;
                padding: 0;
                margin: 0;
                left: -6px !important;
                li {
                  position: absolute;
                  top: -1px;
                }
                &:focus {
                  outline: none;
                }
                .dropdown-item {
                    background: black;
                    color: $default-color-with-black-background;
                    padding: 6px 16px;
                    border-bottom-left-radius: 9px;
                    border-bottom-right-radius: 9px;
                    font-size: 11px;
                    text-align: left;
                    &:hover {
                      transition: all 0.3s;
                      color: white;
                    }
                }
            }
        }
        .login-text-icon {
            margin-right: 25px;
            svg {
                margin-right: 5px;
                width: 11px;
            }
            span {
                font-size: 11px;
                a {
                    color: $default-color-with-black-background;
                    &:hover {
                        text-decoration: none;
                        color: $default-color-with-black-background;
                    }
                }
            }
            &:hover {
                transition: all 0.3s;
                color: white;
            }
        }
    }
}

#login {
    padding-top: 30px;
    .mobile-logo {
        display: none;
        padding-bottom: 10px;
    }
    .briefly-info {
        .login-button {
            .info-button-color {
                font-size: 13px;
                padding: 10px 36px;
                border: none;
            }
        }
        .logo-t-info {
            padding-bottom: 20px;
        }
        .tel-mobile {
            padding-bottom: 25px;
            div:nth-child(1) {
                font-size: 22px;
            }
            div:nth-child(2) {
                font-size: 11px;
            }
        }
        .text-clue {
            padding-bottom: 35px;
            font-size: 14px;
        }
    }
    .login-component {
        input, select {
            font-size: 11px;
            margin-bottom: 11px;
        }
        .contact-person {
            font-size: 11px;
            padding-bottom: 11px;
            font-weight: 700;
        }
        padding: 20px;
        background-color: white;
        height: auto;
        .block-title {
            text-transform: uppercase;
            font-size: 16px;
            padding-bottom: 5px
        }
        .login-company {
          display: none;
        }
        .registr-decription {
            font-size: 11px;
            color: black;
            padding-bottom: 20px;
            font-weight: 500;
            a {
                &:hover {
                    color: $brand-color;
                    text-decoration: none;
                }
            }
        }
        .registr-button {
            button {
                padding: 8px 34px;
                font-size: 13px;
            }
        }
        .have-accaunt {
          display: none;
          font-size: 11px;
        }
        .empty-inputs {
            font-size: 12px;
            text-align: center;
            padding-top: 13px;
        }
    }
    .slogan {
        span {
            color: white;
            font-size: 23px;
            text-transform: uppercase;
            margin-right: 16px;
            font-family: monospace;
        }
        img {
            position: relative;
            top: -12px;
        }
    }
}

#signin {
    padding-top: 30px;
    .mobile-logo {
        display: none;
        padding-bottom: 10px;
    }
}

#home {
    padding-top: 30px;
    .briefly-info {
        div {
          div:nth-child(1) {
            display: flex;
            img {
              padding-right: 15px;
            }
          }
        }
        .tel-mobile {
            display: flex;
            flex-direction: column;
            line-height: 18px;
            border-left: 1px solid white;
            padding-left: 15px;
            span:nth-child(1) {
                font-weight: 800;
                font-size: 20px;
            }
            span:nth-child(2) {
                font-size: 11px;
            }
        }
        .slogan {
            span {
                color: white;
                font-size: 23px;
                text-transform: uppercase;
                font-family: monospace;
                right: 30px;
            }
            img {
                position: relative;
                top: 22px;
            }
        }
    }
    .search-component {
        padding-top: 40px;
        .tabs {
          .tab-content {
              .tab-pane {
                outline: none;
                padding: 10px;
              }
              .tab-pane:nth-child(2) {;
                .popular-button {
                  div {
                    background: #282828;
                    border-radius: 10px;
                    padding: 5px 20px;
                    cursor: pointer;
                    width: 133px;
                  }
                }
                .alphabet {
                  span {
                    margin-right: 11px;
                  }
                }
                .view-all {
                  span {
                    border-bottom: 1px solid white;
                  }
                }
                .popular-points {
                  ul {
                    li {
                      display: inline-block;
                      width: 200px;
                      font-size: 12px;
                      &:before {
                        content: "";
                        color: #595959;
                        display: list-item;
                        position: absolute;
                      }
                    }
                  }
                }
              }
              background-color: $brand-color;
              padding: 15px;
              border-radius: 10px;
              .search-panel {
                  display: flex;
                  div:nth-child(1) {
                      width: 75px;
                      line-height: 38px;
                  }
                  div:nth-child(2) {
                      width: 76%;
                      input {
                          font-size: 16px;
                          font-weight: 600;
                          &::-webkit-input-placeholder {
                            color: white;
                          }
                      }
                  }
                  div:nth-child(3) {
                      background: #282828;
                      border-radius: 10px;
                      padding: 5px 35px;
                      padding-right: 45px;
                      cursor: pointer;
                      width: 161px;
                      margin-left: 20px;
                      svg {
                          width: 20px;
                      }
                      span:nth-child(2) {
                          font-size: 16px;
                          line-height: 26px;
                      }
                  }
              }
          }
          .nav-tabs {
              .nav-item {
                  margin-bottom: -7px;
              }
              border: none !important;
              .nav-link.active {
                  background-color: $brand-color;
                  border: none;
                  color: white;
                  border-top-right-radius: 10px;
                  border-top-left-radius: 10px;
              }
              .nav-link {
                  color: white;
                  border: none;
                  font-size: 14px;
                  padding-bottom: 11px;
                  padding-left: 25px;
                  padding-right: 25px;
                  &:hover {
                      border: none;
                  }
                  &:focus {
                      outline: none;
                      border: none;
                  }
              }
          }
        }
    }
    .home-footer {
      position: absolute;
      background: white;
      margin-top: 20px;
      right: 0;
      left: 0;
      .container:nth-child(1) {
        padding-top: 20px;
        .orgs-tab {
          .tabs {
            .nav-tabs {
              border: none;
              .nav-item {
                a.active {
                  color: $brand-color;
                  border: 1px solid #d8d8d8;
                  border-bottom: none;
                  border-top-right-radius: 10px;
                  border-top-left-radius: 10px;
                }
                a {
                  color: black;
                  border: none;
                  padding: 10px 40px;
                  text-transform: uppercase;
                  font-size: 15px;
                  font-weight: 700;
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
            .tab-content {
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px;
              border-top-right-radius: 20px;
              padding: 10px 50px;
              box-shadow: 0 10px 36px -12px rgba(0,0,0,0.75);
              .tab-pane {
                &:focus {
                  outline: none;
                }
                .org {
                  padding: 10px;
                  transition: all .1s ease;
                  &:hover {
                    color: $brand-color;
                  }
                  .org-image {
                    //width: 70px;
                    //height: 70px;
                    margin-right: 10px;
                  }
                  .name-category-parent {
                    height: 80px;
                    overflow: hidden;
                    .org-name {
                      font-weight: 700;
                      text-transform: uppercase;
                    }
                    .org-category {
                      font-size: 11px;
                      margin-right: 10px;
                      &:hover {
                        border-bottom: 1px dotted $brand-color;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .container:nth-child(2) {
        .add-org {
          .content-padding {
            padding-top: 40px;
            padding-bottom: 50px;
          }
          .adds-padding {
            margin-bottom: 50px;
            margin-top: 15px;
          }
          .title-add-new-org {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 700;
            padding-bottom: 11px;
          }
          .add-new-org {
            background: $brand-color;
            border-radius: 10px;
            padding: 15px;
            padding-bottom: 20px;
            .row {
              .user-type, .org-name {
                div:nth-child(1) {
                  color: white;
                  text-transform: uppercase;
                  font-size: 10px;
                  padding-bottom: 5px;
                }
              }
              .contnie-button-parent {
                display: flex;
                flex-direction: column-reverse;
                .contnie-button {
                  color: white;
                  background: #282828;
                  border-radius: 10px;
                  line-height: 35px;
                  cursor: pointer;
                  text-align: center;
                  margin-right: 10px;
                  svg {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      .mobile-catalog {
        background: white;
        display: none;
        .catalog-parent {
          .catalog-list {
            display: flex;
            padding: 10px 20px;
            .catalog-description {
              padding-left: 15px;
              .catalog-heading {
                font-weight: 700;
                font-size: 17px;
                text-transform: uppercase;
              }
              div {
                width: 250px;
                height: auto;
                max-height: 80px;
                overflow: hidden;
                .catalog-body {
                  text-transform: capitalize;
                  font-size: 10px;
                  color: #8a8a8a;
                  margin-right: 10px;
                  &:hover {
                    color: black;
                    border-bottom: 1px dotted $brand-color;
                  }
                }
              }
            }
          }
        }
        .mobile-section {
          display: none;
          margin: 10px 0;
          div {
            font-size: 10px;
            text-align: center;
            cursor: pointer;
            padding: 6px;
          }
          div.active {
            background: #282828;
            border-radius: 10px;
            color: white;
            span {
              border-bottom: none;
            }
          }
          .catalog-button {
            span {
              border-bottom: 1px dotted $brand-color;
              font-weight: 600;
            }
          }
          .new-orgs-button {
            span {
              border-bottom: 1px dotted $brand-color;
              font-weight: 600;
            }
          }
          .emergancy-orgs-button {
            span {
              color: #212529;
              border-bottom: 1px dotted $brand-color;
              font-weight: 600;
            }
          }
        }
      }
    }
}

#main-header {
  padding-top: 30px;
  .main-search {
    div:nth-child(2) {
      background: $brand-color;
      border-radius: 10px;
      padding: 5px 15px;
      .d-flex {
        .search-title {
          font-weight: 700;
          color: white;
          width: 60px;
          line-height: 45px;
          padding-left: 4px;
        }
        div:nth-child(2) {
          width: 88%;
          input {
            font-size: 16px;
            font-weight: 600;
            &::-webkit-input-placeholder {
              color: white;
            }
          }
        }
        .search-button {
          div {
            background: #282828;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            padding: 6px 12px;
            margin-top: 5px;
            svg {
            }
          }
        }
      }
    }
    .logo-search {
      margin-top: 14px;
      img {
        width: 100px;
        margin-left: 20px;
      }
      span {
        display: none;
      }
    }
    .watch-categories {
        span {
          color: white;
          font-size: 15px;
          line-height: 55px;
          font-weight: 600;
          border-bottom: 1px solid;
          border-bottom: 2px dotted #00c8ff;
          margin-left: 24px;
          cursor: pointer;
      }
    }
  }
}