@media all and (max-width: 1200px) {
  body {
    background-size: auto !important;
  }
  #home {
    .alphabet {
      span {
        margin-right: 9px !important;
        font-size: 14px;
      }
    }
    .search-panel {
      div:nth-child(3) {
        width: auto !important;
        padding-right: 0;
        padding: 5px 10px !important;
      }
    }
  }
}

@media all and (max-width: 991px) {
  body {
    background-size: auto !important;
  }
  #login {
    .line-with-slogan {
      display: none;
    }
  }
  #home {
    .home-footer {
      top: 198px;
    }
  }
  #home {
    .search-component {
      .tabs {
        .nav-tabs {
          display: none;
        }
        .tab-content  {
          .search-panel {
            div:nth-child(3) {
              span:nth-child(2) {
                display: none;
              }
            }
            div:nth-child(2) {
              width: 100% !important;
              input::-webkit-input-placeholder {
                color: #4f4f4f !important;
              }
            }
            div:nth-child(1) {
              display: none;
            }
          }
        }
      }
    }
    .add-new-org {
      .user-type, .org-name {
        div:nth-child(1) {
          display: none;
        }
      }
      .contnie-button {
        span {
          display: none;
        }
        svg {
          display: block !important;
          margin: 5px auto;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  #header {
    .container {
      max-width: 100% !important;
    }
  }
  #login {
    .mobile-logo {
      display: block;
    }
    .briefly-org-info {
      display: none;
    }
  }
  #home {
    .briefly-info {
      div {
        div:nth-child(1) {
          justify-content: center;
        }
      }
      .slogan {
        display: none;
      }
    }
    .search-component {
      padding-top: 20px;
      .tabs {
        .tab-content {
          padding: 0;
        }
      }
    }
    .home-footer {
      top: 148px;
      .container {
        display: none;
      }
      .mobile-catalog {
        display: block !important;
        .mobile-section {
          display: block;
        }
      }
    }
  }
}

@media all and (max-width: 577px) {
  #header {
    .header-menu {
      .menu-icon-svg {
        display: initial !important;
      }
      span {
        display: none;
      }
    }
  }
  #login {
    padding-top: 10px;
    padding-bottom: 35px;
    .login-component {
      .registr-decription {
        display: none;
      }
      .have-accaunt {
        display: block;
      }
      .login-company {
        display: block;
        font-size: 11px;
      }
      .registr-button {
        padding-top: 10px;
        button {
          padding: 5px 40px;
        }
      }
      input, select {
        margin-bottom: 7px;
      }
      .block-title {
        text-align: center;
      }
    }
  }
  #home {
    .mobile-catalog {
      .mobile-section {
        .row {
          div {
            font-size: 15px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media all and (max-width: 360px) {
  .catalog-description {
    width: auto !important;
    div {
      width: auto !important;
    }
  }
}