@media all and (max-width: 1200px) {
  body {
    background-size: auto !important;
  }
  #home {
    .alphabet {
      span {
        margin-right: 9px !important;
        font-size: 14px;
      }
    }
    .search-panel {
      div:nth-child(3) {
        width: auto !important;
        padding-right: 0;
        padding: 5px 10px !important;
      }
    }
  }
  #main-header {
    .main-search {
      .search-input {
        padding-left: 0 !important;
        .search-title {
          display: none;
        }
        input {
          &::-webkit-input-placeholder {
            color: #4f4f4f !important;
          }
        }
        div:nth-child(2) {
          width: 100% !important;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  body {
    background-size: auto !important;
  }
  #login {
    .line-with-slogan {
      display: none;
    }
  }
  #home {
    .search-component {
      .tabs {
        .nav-tabs {
          display: none;
        }
        .tab-content  {
          .search-panel {
            div:nth-child(3) {
              span:nth-child(2) {
                display: none;
              }
            }
            div:nth-child(2) {
              width: 100% !important;
              input::-webkit-input-placeholder {
                color: #4f4f4f !important;
              }
            }
            div:nth-child(1) {
              display: none;
            }
          }
        }
      }
    }
    .add-new-org {
      .user-type, .org-name {
        div:nth-child(1) {
          display: none;
        }
      }
      .contnie-button {
        span {
          display: none;
        }
        svg {
          display: block !important;
          margin: 5px auto;
        }
      }
    }
    .home-footer {
      top: 198px;
    }
  }
  #main-header {
    .main-search {
      .logo-search {
        img {
          width: 100%;
          margin-left: 0 !important;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  #header {
    .container {
      max-width: 100% !important;
    }
  }
  #login {
    .mobile-logo {
      display: block;
    }
    .briefly-org-info {
      display: none;
    }
  }
  #home {
    .briefly-info {
      div {
        div:nth-child(1) {
          justify-content: center;
        }
      }
      .slogan {
        display: none;
      }
    }
    .search-component {
      padding-top: 20px;
      .tabs {
        .tab-content {
          padding: 0;
        }
      }
    }
    .home-footer {
      top: 148px;
      .container {
        display: none;
      }
      .mobile-catalog {
        display: block !important;
        .mobile-section {
          display: block;
        }
      }
    }
  }
  #main-header {
    .search-input {
      .search-button {
        margin-top: 5px;
        div {
          margin-top: 0 !important;
          padding: 4px 12px !important;
          svg {
            width: 19px;
          }
        }
      }
      div:nth-child(2) {
        //padding: 0 5px !important;
        input {
          font-size: 13px !important;
        }
      }
    }
    .logo-search {
      margin-top: 10px !important;
    }
    .watch-categories {
      span {
        line-height: 40px !important;
        margin-left: 0 !important;
      }
    }
  }
}

@media all and (max-width: 575px) {
  #header {
    .header-menu {
      .menu-icon-svg {
        display: initial !important;
      }
      span {
        display: none;
      }
    }
  }
  #login {
    padding-top: 10px;
    padding-bottom: 35px;
    .login-component {
      .registr-decription {
        display: none;
      }
      .have-accaunt {
        display: block;
      }
      .login-company {
        display: block;
        font-size: 11px;
      }
      .registr-button {
        padding-top: 10px;
        button {
          padding: 5px 40px;
        }
      }
      input, select {
        margin-bottom: 7px;
      }
      .block-title {
        text-align: center;
      }
    }
  }
  #home {
    .mobile-catalog {
      .mobile-section {
        .row {
          div {
            font-size: 15px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  #main-header {
    padding-top: 0;
    .main-search-parent {
      .main-search {
        .logo-search {
          margin-bottom: 10px ;
          img {
            width: auto !important;
          }
          span {
            float: right;
            display: initial;
            color: white;
            font-size: 15px;
            font-weight: 600;
            border-bottom: 1px solid;
            border-bottom: 2px dotted #00c8ff;
            margin-left: 24px;
            margin-top: 12px;
            cursor: pointer;
          }
        }
        div:nth-child(2) {
          border-radius: 0 !important;
        }
        .watch-categories {
          display: none;
        }
      }
    }
  }
}

@media all and (max-width: 360px) {
  .catalog-description {
    width: auto !important;
    div {
      width: auto !important;
    }
  }
}